@import url(reset.css);

body {
	font: 14px/1.6 Museo Slab, slab-serif;
	color: #5d5d5d;
	background: white;
}

 a {
	color: #bf3936;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	
}

h2 {
	font-size: 24px;
	padding-left: 15px;

	margin-bottom: 11px;
}

.active, a:hover {
	color: #090909;
}

p {
	margin: 8px 0;
}

img {
	
}

#top-line {
	background: #bf3936;
	height: 16px;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

#header {
 padding: 20px 0 16px 0;
 border-bottom: 1px solid #c0c0c0;
 overflow: hidden;
}

#logo {
	width: 183px;
	height: 100px;
	float: left;
}

#menu {
	float: right;
	margin-top: 40px;
}

#menu ul li {
	float: left;
	margin-left: 87px;
}

#content {
	height: 650px;
	padding-top: 20px;
}


#portfolio {
	
	margin-top: 20px;
	
	overflow: hidden;
}

.portfolio-image {
	width: 215px;
	height: 135px;
	float: left;
	margin-right: 33px;
}

.portfolio-images {
	width: 215px;
	height: 135px;
	float: left;
	margin-top: 33px;
	margin-right: 33px
}

#portfolio-image {
	margin-right: 0;
}

#portfolio a:hover img { 
 filter: alpha (Opacity=25);

    opacity: 0.25;

    -moz-transition: all 1s ease-in-out; /* эффект перехода для Firefox до версии 16.0 */

    -webkit-transition: all 1s ease-in-out; /* эффект перехода для Chrome до версии 26.0, Safari, Android и iOS */

    -o-transition: all 1s ease-in-out; /* эффект перехода для Opera до версии 12.10 */

    transition: all 1s ease-in-out; /* эффект перехода для других браузеров */
}


#footer {
	background: #e7b3b6;
	padding: 20px 0 20px 0;
}

#footer-content {
	width: 960px;
	margin: 0 auto;
}

#footer-content a:hover {
	text-decoration: underline;
}

#footer-content a {
	color: #5d5d5d;
	font-weight: normal;
	text-transform: capitalize;
}

#footer-content ul li {
	float: left;
	padding-right: 30px;
	line-height: 1;
}

.clear {
	clear: both;
}




.container {
	width: 960px;
	
	position: relative;
	overflow: hidden;
	margin: 2px;
	float: left;
}

.container  a {
	vertical-align: middle;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	font-family: Verdana;
	font-weight: 100;
}

.container img {
	width: 960px;
	
}
.description {
		padding-top: 20px;
		height: 40px;
		width: 960px;
		background: #000;
		opacity: 0.7;
		filter: alpha(opacity=30); /* IE lt 8 */
		-ms-filter: "alpha(opacity=30)"; /* IE 8 */
		-webkit-transition: 1s;
	        -moz-transition: 1s;  /* Firefox 4-15 */
                -o-transition: 1s;  /* Opera 10.5–12.00 */
                transition: 1s;  /* Firefox 16+, Opera 12.50+ */
		position: absolute;
		bottom: -60px;
		text-align: center;
}

.container:hover .description {
	bottom: 0px;
}
