@import url(reset.css);

body {
	font: 14px/1.6 Museo Slab, slab-serif;
	color: #e5f4ff;
	background: #020d13;
}

a {
	color: #e5f4ff;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
}

.active, a:hover {
	color: #eef8ff
}

p {
	margin: 4px 0;
}

h3 {
font-size: 14px;
font-weight: bold;
color: #e0fcff;
text-transform: uppercase;
background-image: url(../images/arrow.png) no-repeat 0 6px;
padding-left: 23px;
margin-bottom: 20px;
}

#top-line {
	background: #0d232d;
	height: 16px;
}

#wrapper {
	width: 1200px;
	margin: 0 auto;
}

#header {
 padding: 20px 0 16px 0;
 border-bottom: 1px solid #c0c0c0;
 overflow: hidden;
}

#logo {
	width: 183px;
	height: 100px;
	float: left;
}

#menu {
	float: center;
	margin-top: 20px;
}

#menu ul li {
	float: left;
	margin-left: 80px;
}

#header-image {
	height: 380px;
	background:url(../images/header-image.jpg) no-repeat;
	margin-top: 10px;
	padding-bottom: 10px;
	position: relative;
	margin-left: 125px;
}

#black-box {
	width: 443px;
	height: 33px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	color:#bbe8ff;
	position: absolute;
	left: 135px;
	bottom: 12px;

}

#black-box p {
	margin: 14px 12px;
	line-height: 1;
}

#black-box a {
	float: center;	
}

#black-box a:hover {
	color: #999898;
}

#content {
	margin-top: 20px;
	border-bottom: 1px solid #c0c0c0;
	overflow: hidden;
	padding-bottom: 24px;
}

.content-box {
	width: 285px;
	float: left;
	margin-left: 90px;
}

#content-box {
	margin-right: 0px;
}

.content-box h2 {
	font-size: 18px;
	font-weight: bold;
	color: #e0fcff;
	text-transform: uppercase;
	border-bottom: 5px solid #e5f4ff;
	padding-bottom: 3px;
	text-align: center;
		margin-bottom: 16px;
}

.content-box ul li {
	background: url(../images/check.png) 0 3px no-repeat;
	padding-left: 28px;
	margin-bottom: 12px;
	line-height: 1.3;

}

.italic-text {
	font-style: italic;
	color: #090909;
	margin-top: 20px;
}

#bottom-row {
	margin-top: 20px;
	overflow: hidden;
}

#blog {
	width: 670px;
	margin-left: 420px;
}

#social {
	width: 220px;
	float: right;
}

#social ul li {
	float: left;
	margin-right: 12px;
}

#footer {
	background: #060f1a;
	padding: 25px 0 29px 0;
}

#footer-content {
	width: 960px;
	margin: 0 auto;
}

#footer-content a:hover {
	text-decoration: underline;
}

#footer-content a {
	color: #a8f2ff;
	font-weight: normal;
	text-transform: capitalize;
}

#footer-content ul li {
	float: left;
	padding-right: 145px;
	line-height: 1;
}

.clear {
	clear: both;
}