@import url(reset.css);

body {
	font: 14px/1.6 Museo Slab, slab-serif;
	color: #e5f4ff;
	background: #020d13;
}

 a {
	color: #e5f4ff;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	
}

table {
float: left;
}

td a {
	text-transform: lowercase;
}

td {
	font-size: 16px;
	padding: 20px;
	text-align: left;
}

th {
	font-size: 16px;
	text-align: left;
}
#size{
	font-size: 16px;
	text-align: right;
}
.map {
	padding-top: 10px;
	float: right;
}

h2 {
	font-size: 22px;
	padding-left: 28px;
	background: url(../images/arrow.png) no-repeat 0 12px;
	margin-bottom: 11px;
}

.active, a:hover {
	color: #eef8ff;
}

p {
	margin: 8px 0;
}

#size {
padding: 5px 0 5px 0;
font-size: 22px;
text-align: center;	
}

#top-line {
	background: #0d232d;
	height: 16px;
}

#wrapper {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

#header {
 padding: 20px 0 16px 0;
 border-bottom: 1px solid #c0c0c0;
 overflow: hidden;
      margin-bottom: 10px;
}

#logo {
	width: 183px;
	height: 100px;
	float: left;
}

#menu {
	float: center;
	margin-top: 20px;
}

#menu ul li {
	float: left;
	margin-left: 80px;
}

#content {
	height: 410px;
	padding-top: 20px;
	overflow: hidden;
}

#footer {
	background: #060f1a;	
	padding: 20px 0 20px 0;
}

#footer-content {
	width: 1200px;
	margin: 0 auto;
}

#footer-content a:hover {
	text-decoration: underline;
}

#footer-content a {
	color: #a8f2ff;
	font-weight: normal;
	text-transform: capitalize;
}

#footer-content ul li {
	float: left;
	padding-right: 145px;
	line-height: 1;
}

.clear {
	clear: both;
}

.card {
	float: right;
	margin-top: 18px
}