@import url(reset.css);

body {
	font: 12px/1.6 Arial, Verdana, Tahoma, sans-serif;
	color: #5d5d5d;
	background: #f4f4f4;
}

 a {
	color: #fe9b00;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	
}
h2 {
	font-size: 22px;
	padding-left: 28px;
	background: url(../images/arrow.png) no-repeat 0 12px;
	margin-bottom: 11px;
}

form {
	margin-left: 400px;
}

#ot {
	margin-top: 10px;
}
#at {
	height: 200px;
}

.active, a:hover {
	color: #090909;
}

p {
	margin: 8px 0;
}

#size {
padding: 5px 0 5px 0;
font-size: 22px;
text-align: center;	
}

#top-line {
	background: #090909;
	height: 16px;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

#header {
 padding: 20px 0 16px 0;
 border-bottom: 1px solid #c0c0c0;
 overflow: hidden;
}

#logo {
	width: 183px;
	height: 100px;
	float: left;
}

#menu {
	float: right;
	margin-top: 40px;
}

#menu ul li {
	float: left;
	margin-left: 63px;
}

#content {
	position: relative;
	height: 687px;
	padding-top: 20px;
	overflow: hidden;
}

#footer {
	background: #e2e2e2;
	padding: 20px 0 20px 0;
}

#footer-content {
	width: 960px;
	margin: 0 auto;
}

#footer-content a:hover {
	text-decoration: underline;
}

#footer-content a {
	color: #5d5d5d;
	font-weight: normal;
	text-transform: capitalize;
}

#footer-content ul li {
	float: left;
	padding: 0 7px;
	border-left: 1px solid #5d5d5d;
	line-height: 1;
}

.clear {
	clear: both;
}
h1{
font-size: 22px;
}